/* ESTILOS GENERALES */
:root {
    --dark: #212328;
    --gray: #9C9DA1;
    --gray-light: #EFEFF4;
    --white: #FFFFFF;
    --primary-dark: #D3381F;
    --primary: #F55A03;
    --success-dark: #0f5132;
    --success: #47BD8F;
    --success-light: #C1F8CF;
    --info-dark: #1A52AD;
    --info: #2972E6;
    --info-light: #CFE2FF;
    --danger-dark: #A20F1D;
    --danger: #FF5C5D;
    --danger-light: #F8D7DA;
    --warning-dark: #7F4D03;
    --warning: #FFAC32;
    --warning-light: #FFF3CD;
}

html {
    font-size: 16px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    color: var(--dark);
    font-family: 'Mitr', sans-serif;
    line-height: normal;
    font-weight: 300;
  }

  main {
    background-color: var(--gray-light);
    min-height: 100vh;
    padding-top: 7.5rem;
  }

  /* Typography */

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h4 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .subtitle-1 {
    font-size: 1rem;
    font-weight: 500;
  }

  .subtitle-2 {
    font-size: .875rem;
    font-weight: 500;
  }

  .body-1 {
    font-size: 1rem;
    font-weight: 300;
  }

  .body-2 {
    font-size: .875rem;
    font-weight: 300;
  }

  .body-3 {
    font-size: .875rem;
    font-weight: 300;
    text-decoration: line-through;
  }

  .caption {
    font-size: .8125rem;
    font-weight: 400;
  }

  .overline {
    font-size: .8125rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  /* End Typography */

  /* Buttons */
  .btn {
    font-family: 'Mitr', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: uppercase;
    padding: .625rem 1rem;
    border: none;
    border-radius: .5rem;
    text-decoration: none;
  }

  .button-primary {
    background-color: var(--primary);
    color: var(--white);
  }

  .button-secondary {
    background-color: var(--white);
    color: var(--dark);
    box-shadow: inset 0 0 0 2px var(--dark);
  }

  .button-icon {
    display: inline-flex;
    align-items: center;
    grid-gap: .5rem;
    text-align: center;
  }
  /* End Buttons */


  /* FIN ESTILOS GENERALES */

  /* INDEX */
  header {
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .navbar-top {
    background-color: var(--white);
    padding: .5rem 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    /* background-color: lightblue; */
    height: 3.5rem;
  }

  .navbar-brand-img {
    /* background-color: blue; */
    height: 100%;
  }

  .navbar-top-right {
    /* background-color: #C1F8CF; */
    display: flex;
    align-items: center;
    grid-gap: 2rem;
  }

  .info-delivery {
    /* background-color: pink; */
    display: flex;
    align-items: center;
    grid-gap: .25rem;
  }

  .info-delivery span {
    font-size: 2.5rem;
  }

  .delivery-label {
    color: var(--primary);
  }

  .navbar-categories {
    /* background-color: pink; */
    padding: 0 3.5rem .5rem 3.5rem;
  }

  .menu-categories {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .menu-categories a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--dark);
  }

  .menu-categories a:hover {
    color: var(--primary);
  }

  /* Hero section */
  .hero {
    background-color: var(--gray);
    height: 25rem;
    background-image: url(../img/banners/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* End Hero section */

    /* Sections */
    .section {
      /* background-color: #47BD8F; */
      padding: 2.5rem 3.5rem;
    }

    .header-section {
      /* background-color: pink; */
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .header-section h2 {
      font-size: 2rem;
    }
    /* End Sections */

    /* Card Product */
    .container-products {
      /* background-color: pink; */
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      grid-gap: 2rem;
    }

    .card-category {
      background-color: deepskyblue;
      width: 550px;
      height: auto;
      border-radius: 1rem;
      overflow: hidden;
      position: relative;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .card-category img {
      width: 100%;
      height: 100%;
    }

    .card-category-title {
      /* background-color: #2972E6; */
      position: absolute;
      width: 100%;
      top: .5rem;
      text-align: center;
    }

    .card-category-title {
      color: var(--white);
      text-shadow: -4px -4px 0 var(--primary), 
      -4px -3px 0 var(--primary), 
      -4px -2px 0 var(--primary), 
      -4px -1px 0 var(--primary), 
      -4px 0 0 var(--primary), 
      -4px 1px 0 var(--primary), 
      -4px 2px 0 var(--primary), 
      -4px 3px 0 var(--primary), 
      -4px 4px 0 var(--primary), 
      -3px -4px 0 var(--primary), 
      -3px -3px 0 var(--primary), 
      -3px -2px 0 var(--primary), 
      -3px -1px 0 var(--primary), 
      -3px 0 0 var(--primary), 
      -3px 1px 0 var(--primary), 
      -3px 2px 0 var(--primary), 
      -3px 3px 0 var(--primary), 
      -3px 4px 0 var(--primary), 
      -2px -4px 0 var(--primary), 
      -2px -3px 0 var(--primary), 
      -2px -2px 0 var(--primary), 
      -2px -1px 0 var(--primary), 
      -2px 0 0 var(--primary), 
      -2px 1px 0 var(--primary), 
      -2px 2px 0 var(--primary), 
      -2px 3px 0 var(--primary), 
      -2px 4px 0 var(--primary), 
      -1px -4px 0 var(--primary), 
      -1px -3px 0 var(--primary), 
      -1px -2px 0 var(--primary), 
      -1px -1px 0 var(--primary), 
      -1px 0 0 var(--primary), 
      -1px 1px 0 var(--primary), 
      -1px 2px 0 var(--primary), 
      -1px 3px 0 var(--primary), 
      -1px 4px 0 var(--primary), 
      0 -4px 0 var(--primary), 
      0 -3px 0 var(--primary), 
      0 -2px 0 var(--primary), 
      0 -1px 0 var(--primary), 
      0 0 0 var(--primary), 
      0 1px 0 var(--primary), 
      0 2px 0 var(--primary), 
      0 3px 0 var(--primary), 
      0 4px 0 var(--primary), 
      1px -4px 0 var(--primary), 
      1px -3px 0 var(--primary), 
      1px -2px 0 var(--primary), 
      1px -1px 0 var(--primary), 
      1px 0 0 var(--primary), 
      1px 1px 0 var(--primary), 
      1px 2px 0 var(--primary), 
      1px 3px 0 var(--primary), 
      1px 4px 0 var(--primary), 
      2px -4px 0 var(--primary), 
      2px -3px 0 var(--primary), 
      2px -2px 0 var(--primary), 
      2px -1px 0 var(--primary), 
      2px 0 0 var(--primary), 
      2px 1px 0 var(--primary), 
      2px 2px 0 var(--primary), 
      2px 3px 0 var(--primary), 
      2px 4px 0 var(--primary), 
      3px -4px 0 var(--primary), 
      3px -3px 0 var(--primary), 
      3px -2px 0 var(--primary), 
      3px -1px 0 var(--primary), 
      3px 0 0 var(--primary), 
      3px 1px 0 var(--primary), 
      3px 2px 0 var(--primary), 
      3px 3px 0 var(--primary), 
      3px 4px 0 var(--primary), 
      4px -4px 0 var(--primary), 
      4px -3px 0 var(--primary), 
      4px -2px 0 var(--primary), 
      4px -1px 0 var(--primary), 
      4px 0 0 var(--primary), 
      4px 1px 0 var(--primary), 
      4px 2px 0 var(--primary), 
      4px 3px 0 var(--primary), 
      4px 4px 0 var(--primary);
    }

    .card-category-footer {
      /* background-color: blue; */
      position: absolute;
      bottom: 1.5rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    /* End Card Product */

    /* Footer */
    footer {
      background-color: var(--dark);
      padding: 2rem 3.5rem;
      color: var(--white);
    }

    .footer-header {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }

    .footer-header img {
      height: 3.5rem;
    }

    .footer-body {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer-list {
      /* background-color: lightgreen; */
      width: 15rem;
      list-style: none;
      color: var(--white);
    }

    .title-list {
      text-transform: uppercase;
    }

    .footer-list li {
      margin-bottom: 1rem;
    }

    .footer-list a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--white);
    }

    .footer-list a:hover {
      color: var(--primary);
    }

    .footer-social {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    .footer-social h6 {
      margin-bottom: 1rem;
    }

    .container-socials {
      display: flex;
      justify-content: center;
      grid-gap: 2rem;
    }

    .container-socials img {
      display: inline-block;
      height: 2.5rem;
    }

    .footer-rights {
      text-align: center;
    }
    /* End Footer */
  /* END INDEX */

  /* CATEGORY PAGE*/
    .container-cards-products {
      /* background-color: peru; */
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
    }

    .card-product {
      /* background-color: lightblue; */
      width: 20rem;
      text-align: center;
      overflow: hidden;
      border-radius: 1rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .card-product-header {
      /* background-color: #F55A03; */
      width: 20rem;
      height: 20rem;
    }

    .card-product-header img {
      width: 100%;
     height: 100%;
    }

    .card-product-body {
      /* background-color: #47BD8F; */
      height: 8.75rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-product-title {
      line-height: 1.2;
    }

    .card-product-price {
      font-size: 2rem;
      font-weight: 500;
    }

    .card-product-footer {
      /* background-color: pink; */
      padding: 0 1rem 1rem 1rem;
    }
  /* END CATEGORY PAGE*/

  /* PRODUCT DETAIL PAGE */
    .section-product-detail {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    
    .product-detail {
      /* background-color: lavender; */
      width: 34rem;
    }
    
    .product-detail-title {
      margin-bottom: 1rem;
    }
    
    .product-detail-description {
      list-style: square;
      margin-left: 1.5rem;
      margin-bottom: 1rem;
    }

    .product-detail-img {
      width: 100%;
      border-radius: 1rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .product-customization {
      background-color: var(--white);
      width: 42rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 2rem;
      border-radius: 1rem;
    }

    .product-customization-option {
      margin-bottom: 2rem;
    }

    .product-customization-option-header {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .number-option {
      background-color: var(--primary);
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 600;
      min-height: 2.5rem;
      min-width: 2.5rem;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .wrap-product-extra-control {
      /* background-color: pink; */
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .wrap-product-extra-control p {
      font-size: 1.2rem;
    }

    .wrap-product-extra-control p span {
      font-weight: 500;
    }

    .control-product-extra {
      /* background-color: salmon; */
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    .control-product-extra .btn {
      cursor: pointer;
    }

    .input-number-extra {
      border: none;
      height: 2.5rem;
      user-select: none;
      font-size: 1.5rem;
      width: 4rem;
      padding-left: 1.2rem;
    }

    
  /* END PRODUCT DETAIL PAGE */