/* Laptop */
@media (max-width: 1366px) {}

/* Fin laptop */
/* Tablet landscape */
@media (max-width: 1024px) {
/* Index */
    main {
        padding-top: 4.5rem;
    }

    .navbar-categories {
    /* background-color: pink; */
        padding: 0 3.5rem;
    }

    .menu-categories {
        display: none;
    }

    .btn-categorias-mobile {
        display: block;
    }

    .navbar-top {

    }

/* End index */
}

/* Fin tablet landscape */

/* Tablet portrait */
@media (max-width: 768px) {
    .info-delivery {
        display: none;
    }

    .navbar-top-right {
        grid-gap: 1rem;
    }
}

/* fin tablet portrait */

/* Cell landscape */
@media (max-width: 736px) {

}

/* Fin cell landscape */

/* Cell portrait */
@media (max-width: 480px) {

}

/* Fin cell portrait */